{% extends "base.html" %}
{% block title %} Login {% endblock %}

{%block mainbody %}
    <form class="container-login" method="POST" action="{{url_for('login')}}">
        <p id="message" class="error">{{message}} </p>
        <input class="form-login" placeholder="Entrare email" type="email" id="email" name="email"/>
        <input class="form-login" placeholder="Entrare la Password"  type="password" id="password" name="password"/>
        <div class="container-btn">
            <button class="form-login-btn" onclick="isValidoCredential(event)" type="submit">Login</button>
        </div>
    </form>
{% endblock %}